<div class="container">
  <p><strong>Personal Recommendations for {{customerDetails.customerName}}</strong></p>
  <p>Generated: {{date | date: 'dd/MM/YYYY'}}</p>
  <div class="row row-cols-md-3 row-cols-sm-12">
    <p *ngIf="!curatedList"><em>Loading...</em></p>
    <div class="col" *ngFor="let item of curatedList">
      <div class="card mb-2">
        <div class="card-img-actions">
          <a [routerLink]="['/product', buildDestinationUrl(item.title,item.itemgroupId)]"
            (click)="sendProductClickEvent(item.itemgroupId)">
            <img class="card-img img-fluid" [src]="item.imageUrl" [alt]="item.title" />
          </a>
        </div>
        <div class="card-body mb-0">
          <a [routerLink]="['/product', buildDestinationUrl(item.title,item.itemgroupId)]"
            (click)="sendProductClickEvent(item.itemgroupId)"> <span class="producttitle">{{item.title}}</span></a>
          <br />
          <div class="my-0">
            <span class="currency ">{{item.internetPrice | currency:'₦' :'symbol':'3.2'}}</span>
          </div><br />
          <div class="my-0 iK">
            <div class="mt-2">
              <a [routerLink]="['/product', buildDestinationUrl(item.title,item.itemgroupId)]" style="color: white;"
                class="btn btn-sm btn-success view" (click)="sendProductClickEvent(item.itemgroupId)">Buy Now </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>