<div class="col-12">
    <div class="text-center">
        <p class="primaryColor">Kubona</p>
        <p>Premium Italian Leather Shoes</p>
        <img src="../../assets/LocationIntro.jpg" alt="" class="img-fluid">
    </div>
</div>
<h3 class="primaryColor mt-2">Location Information</h3>
<hr>


    <div class="text-center">
        <p class="primaryColor size">14A TF KUBOYE STR, OFF MARKET ROAD, ONIRU, LEKKI, LAGOS (BESIDE HEALTHPLUS PHARMACY).</p>
        <p> 07038126008 | 08076438849</p>
    </div>
    <div class="col-12">
        <ul class="list" >
            <li>Latest Styles</li>
            <li>Affordable Prices</li>
            <li>7 Days Returns</li>
            <li>Parking Available.</li>
            <li>Restaurants Nearby.</li>
            <li>POS Accepted.</li>
            <li>Bank ATM Nearby.</li>
        </ul>
    </div>

    <h3 class="primaryColor">Opening Times</h3>
    <hr>
    <div class="mb-5">
    <table>
        <tr>
            <td style="width:200px;">
                Monday
            </td>
            <td>9am - 6pm</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>9am - 6pm</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>9am - 6pm</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>9am - 6pm</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>9am - 6pm</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>10am - 6pm</td>
        </tr>
    </table>
    </div>

