<h3><strong>How to place an order on kubona.ng</strong></h3>

<hr />

<div class="row">
    <div class="col-12">
        <p>Kubona.ng is an online catalog showcasing our available products. Every product listed on the website is in
            stock at our warehouse. Here are the various methods for shopping through kubona.ng:</p>

        <ol>
            <li><strong>Shop at our warehouse:</strong></li>
            <ul>
                <li>Visit our physical shop located at Oniru, Lekki. You can find directions and our opening hours by
                    clicking <a [routerLink]="['/address']">here.</a> </li>
            </ul>
            <li><strong>Shop by website</strong></li>
            <ul>
                <li>Browse through our online catalog.</li>
                <li>Click on the image of the desired item to access the product details page.</li>
                <li>Select your size and/or color and click "Buy now." This action will take you to the order page.</li>
                <li>Enter your phone number and click "Order via WhatsApp."</li>
                <li>You'll be directed to WhatsApp, where we'll process your order.</li>
                <li>Expect delivery within 1-3 business days in Lagos, or 3-7 business days outside Lagos through our
                    third-party courier partners.</li>
            </ul>
            <li><strong>Shop by WhatsApp</strong></li>
            <ul>
                <li>Browse our online catalog.</li>
                <li>Take note of the product description or code of the item you desire, and take a screenshot if
                    possible.</li>
                <li>Send the code (and the screenshot if available), along with your size, name, and delivery address,
                    to 07036110000 via WhatsApp.</li>
                <li>We will process your order and send order details to you through WhatsApp.</li>
                <li>Expect delivery within 1-3 business days in Lagos, or 3-7 business days outside Lagos via our
                    third-party courier partners.</li>
            </ul>
            <li><strong>Shop by Phone call</strong></li>
            <ul>
                <li>Browse through our online catalog.</li>
                <li>Note the product description or code of the item you wish to purchase.</li>
                <li>Call us at 07036110000 between 9:00 am and 6:00 pm Nigerian time.</li>
                <li>Provide the agent with the product code, your delivery address, and your preferred payment method.
                </li>
                <li>Expect delivery within 1-3 business days in Lagos, or 3-7 business days outside Lagos via our
                    third-party courier partners.</li>
            </ul>

        </ol>
        <p><strong>Returns and exchanges</strong></p>
        <p>Please click <a [routerLink]="['/exchange']">here</a> for our exchange and refund policy.</p>

        <p><strong>Payment Options</strong></p>
        <p>Please click <a [routerLink]="['/paymentoptions']">here</a> for all our payment options.</p>

    </div>
</div>


<hr />