<div class="container">
    <div class="col-12">
        <div class="title">HOW TO ENABLE COOKIES ON YOUR BROWSER</div>
        <div class="article">
            <ul>
                <li><strong>In the Chrome App</strong></li>
                    <ol>                        
                        <li>At the top right, tap More and then Settings </li>
                        <p>
                            <img width="150" src="../../assets/1.jpg" alt="" class="mr-2">
                            <img width="150" src="../../assets/2.jpg" alt="" class="ml-2">
                        </p>
                        <li>Tap Site settings and then Cookies. </li>
                        <p>
                            <img width="150" src="../../assets/3.jpg" alt="" class="mr-2">
                            <img width="150" src="../../assets/4.jpg" alt="" class="ml-2">
                        </p>
                        <li>Turn Cookies on. </li>
                        <img width="150" src="../../assets/5.jpg" alt="">
                    </ol>
                    <li><strong>In the Firefox App</strong></li>
                    <ol>
                        <li>Open the Firefox menu and then tap Settings.</li>
                        <p>
                            <img width="150" src="../../assets/fire1.png" alt="" class="mr-2">
                            <img width="150" src="../../assets/fire2.png" alt="" class="ml-2">
                        </p>
                        <li>Tap Privacy and then Cookies. </li>
                        <p>
                            <img width="150" src="../../assets/fire3.png" alt="" class="mr-2">
                            <img width="150" src="../../assets/fire4.png" alt="" class="ml-2">
                        </p>
                        <li>Tap Enabled to turn it on.</li>
                        <img width="150" src="../../assets/fire5.png" alt="">
                    </ol>
                <li> <strong>In other browser apps: </strong>For instructions, check the support website for your browser.</li>
            </ul>
        </div>
    </div>

</div>
