
    <h3>Contact Us</h3>
  
    <hr/>
  
 <div class="col-12" >
<p>Our offices are located in Lagos, Nigeria. You can reach us via any method below:</p>
<p><strong>Customer Support Email:</strong> customerservice@kubona.ng.</p>
<p><strong>WhatsApp Chat Only (Easiest and Fastest):</strong>+234(703)611-0000.</p>
<p><strong>Telephone:</strong> (0703)611-0000</p>
<p><strong> Note: We Accept Calls Only Between 9am - 5pm Mon-Fri, 10am - 6pm Sat Only.</strong></p>
<p><strong>Warehouse Address: </strong>14A TF Kuboye Street, Oniru, Lekki, Lagos. Beside Healthplus Pharmacy <a [routerLink]="['/address']">See map</a> </p>
<p><strong>Business Development Email:</strong> ebusiness@kubona.ng.</p>
<p>Our Warehouse is opened Monday to Friday from 9am to 5pm only, 10am to 6pm on Saturdays.</p>
</div>

<hr/>