<div class="text-center my-2">
    <h3>Frequently Asked Questions</h3>
</div>
<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">General</div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p><strong>Q: What is Kubona?</strong></p>
            <p>A: Kubona is a Premium fashion retail brand that serves as the recommended source of Premium items that
                empower our customers to express their life aspirations and accomplishments through fashion.</p>
            <p><strong>Q: Do you have a Physical Location where I can buy?</strong></p>
            <p>A: You can buy at our Oniru, Lekki, Lagos Warehouse. Please Click <a [routerLink]="['/address']">here</a>
                for the address.</p>
            <p><strong>Q: When are your operating days and hours?</strong></p>
            <p>A: We are opened physically between Monday - Friday, typically from 9am. Please Click <a
                    [routerLink]="['/address']">here</a> for our opening hours. We can however assist you outside
                our opening hours via WhatsApp.</p>
            <p><strong>Q: Do you have branches outside Lagos?</strong></p>
            <p>A: Currently, we are only located in Lagos. We however deliver to every state in Nigeria and have
                customers from all over Nigeria.</p>

            <p><strong>Q: What type of shoes does your store sell?</strong></p>
            <p>A: Our store offers a wide variety of premium Italian leather shoes for both men and women, including
                sneakers, sandals, loafers, and dress shoes.</p>
            <p><strong>Q: Are your shoes regular fit?</strong></p>
            <p>A: Yes please, our shoes are standard European cut.</p>

            <p><strong>Q: Do I have to register before buying?</strong></p>
            <p>A: No, you are not required to register before shopping. Just order what you need online.</p>

            <p><strong>Q: How do I sell on kubona?</strong></p>
            <p>A: We currently are not accepting new suppliers.</p>
        </li>
    </ul>
    <div class="card-header">
        <div class="card-title">Order</div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p><strong>Q: What Information is required from me to shop?</strong></p>
            <p>A: We need the picture or code of the items you want, your name, phone number and delivery address only.
            </p>
            <p><strong>Q: How much is the shoe?</strong></p>
            <p>A: The price is same as displayed on the website or where you saw an advert of the shoe.</p>

            <p><strong>Q: Are your prices negotiable?</strong></p>
            <p>A: No, Prices published have been discounted to the possible best prices.</p>

            <p><strong>Q: I can't find the picture of the product I want, how do I retrieve it?</strong></p>
            <p>A: You can contact our customer care/sales line here 07036110000 via call or whatsapp and describe the
                product to them.
            </p>

            <p><strong>Q: Can I preorder for a shoe?</strong></p>
            <p>A: No. We do not offer pre ordering for shoes at this time. You may order shoes that are currently
                available
                online on the website.</p>

            <p><strong>Q: I need an Item and I can't find it on your website, can you assist?</strong></p>
            <p>A: We only sell products displayed on our website.</p>

            <p><strong>Q: I'm not sure about my size. What size should I buy?</strong></p>
            <p> A: We recommend you check the size of the shoe you are comfortable with. That, together with our
                guidance and size guide <a [routerLink]="['/sizeconverter']">here</a>. You can also measure your feet
                using a
                ruler or measuring tape.</p>

            <p><strong>Q: I am having trouble adding products to my cart. What do I do?</strong></p>
            <p>A: Adding products to cart requires cookie enabled browsers. Make sure cookies are enabled in your
                browser. Click <a [routerLink]="['/cookiehowto']">here</a> for a detailed guide on how to go about it.

            <p><strong>Q: Can you send 2 to 3 different sizes of shoe for me to test before I buy?</strong></p>
            <p>A: We would love to send the best size to avoid delivery wear/tear associated with products, Only one
                size
                of shoe can be sent at a time, Kindly order for your typical size and try your shoe at the point of
                delivery before payment and let us know if it fits, if it doesn't, return it at the point of delivery
                and we'll send you another size.
            </p>

            <p><strong>Q: Can I pay in foreign currency?</strong></p>
            <p>A: No, we currently only serve the Nigerian market.</p>

            <p><strong>Q: What is an Order ID?</strong></p>
            <p>A: An order ID is the 6 digit number that is generated when you place an order on the website. Please
                send the number to our WhatsApp to get your order processed.</p>

        </li>
    </ul>
    <div class="card-header">
        <div class="card-title">Delivery</div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p><strong>Q: Do you offer Free Delivery?</strong></p>
            <p>A: Yes, we offer FREE Delivery on most of our products.</p>

            <p><strong>Q: Can I pay on delivery?</strong></p>
            <p>A: Yes you can. We accept payment on delivery nationwide except for the following states where you pay
                before delivery: Bauchi, Benue, Borno, Delta, Ebonyi, Katsina, Kebbi, Nasarawa and Yobe. Note that we have to right to restrict payment on
                delivery to certain customers with high rate of rejections. Make sure you are comfortable with the
                shoe before you make payment.</p>

            <p><strong>Q: Can I pay partly and balance later?</strong></p>
            <p>A: No</p>

            <p><strong>Q: Can I pay online with my debit card?</strong></p>
            <p>A: We currently are working on accepting debit cards online.</p>

            <p><strong>Q: How are Items delivered?</strong></p>
            <p>A: Items are delivered using a reputable Courier Services. It typically takes 1-3 business days within
                Lagos
                and 3-7 business days outside Lagos. Click <a [routerLink]="['/delivery']">here</a> for detailed
                information.</p>

            <p><strong>Q: I'm not in Lagos, how do I get my items?</strong></p>
            <p>A: Many people outside Lagos shop with us. If you are outside Lagos, you can shop with confidence and
                enjoy
                our great prices and selection. Items you purchased are packed and sent to you via Courier Services.</p>

            <p><strong>Q: Is there a station/location I can pick up my orders from?</strong></p>
            <p>A: Depending your location and the courier that shipped your order, you can make an arrangement to pick
                up your order in the courier's office. If you are in Lagos, you can come instore to pickup your order in
                our office. You can call/message the customer care line for guidance</p>

            <p><strong>Q: How do I track my order?</strong></p>
            <p>A: You get notified once your order is shipped, you may also contact the sales/shipping department for
                the tracking information.</p>

            <p><strong>Q: What is your return or exchange policy?</strong></p>
            <p>A: Click <a [routerLink]="['/exchange']">here </a> for full details about our policy.</p>

            <p><strong>Q: I have paid but haven't received my items?</strong></p>
            <p>A: Items outside Lagos typically takes 3-7 business days to get to you. Our courier company however does
                not work on Saturday and Sunday.</p>

            <p><strong>Q: Can I transfer to your account directly or pay the courier?</strong></p>
            <p>A: All transfers should be made directly to our account except in cases where it is explicitly stated on
                the invoice that payment be made to the courier.</p>

            <p><strong>Q: What should I do if my shoes/products are damaged upon delivery?</strong></p>
            <p>A: All products are sent in a very good condition. However, If your shoes are damaged upon delivery,
                please contact us immediately and return the item back to the delivery courier at the point of delivery.
            </p>

            <p><strong>Q: What if I'm not satisfied with my order?</strong></p>
            <p>A: We offer a 7-day return policy for all items purchased from our store. If you are not satisfied with
                your order, you may return the item back to the delivery courier at the point of delivery.</p>

            <p><strong>Q: I am unhappy with the service from the delivery courier. How do I share my feedback?</strong>
            </p>
            <p>A: We take the satisfaction of our customers seriously. You can share your feedback by contacting the
                customer service department here: 07036110000 we will be able to assist you and escalate your concerns
                to the relevant delivery courier</p>

        </li>
    </ul>
</div>