<div>Oops! Sorry the page you request was not found. Try searching by either using the search box above or browse the deparment list below:</div>
<ul>    
    <span *ngFor="let sc of assubCat.slice(1)">
        <li><a class="filter" [routerLink]="['/category',sc.destinationUrl]">{{sc.description}} ({{sc.totalCount}})</a></li>
    </span>
    <span *ngFor="let sc of mnsubCat.slice(1)">
        <li><a class="filter" [routerLink]="['/category',sc.destinationUrl]">{{sc.description}} ({{sc.totalCount}})</a></li>
    </span>
    <span *ngFor="let sc of wnsubCat.slice(1)">
        <li><a class="filter" [routerLink]="['/category',sc.destinationUrl]">{{sc.description}} ({{sc.totalCount}})</a></li>
    </span>

</ul>

