button {
  margin: 3px !important;
}

img {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0%;
}
.card-img-actions {
  position: relative;
  flex: 1 1 auto;
  margin: auto;
  padding: 0%;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  clear: both;
  /* padding: 1.25rem; */
}

.card-body a {
  text-decoration: none;
  color: #000;
}

.card-body a:hover {
  text-decoration: underline;
  color: #000;
}

.card {
  padding: 0%;
  width: 100%;
  max-height: fit-content;
  min-height: 480px;
  margin-right: 2px;
  min-width: 300px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem;
}

.card:hover {
  border-color: #eee;
  box-shadow: 0 0 11px #888;
  -moz-box-shadow: 0 0 11px #888;
  -khtml-box-shadow: 0 0 11px #888;
  -webkit-box-shadow: 0 0 11px #888;
  -o-box-shadow: 0 0 11px #888;
  -ms-box-shadow: 0 0 11px #888;
}

.availableIn {
  font-size: 8pt;
}

.availableInBold {
  font-weight: bold;
}

.currency {
  float: right;
  font-size: 15pt;
  color: orangered;
  font-weight: bold;
  text-align: justify;
}

.oldPrice {
  font-size: 12pt;
  float: left;
  text-decoration: line-through;
  color: #000;
  font-weight: 700;
}

.iK {
  max-height: 100px;
}

.cT {
  text-transform: uppercase;
  text-align: center;
  color: #ff0000;
}


@media only screen and (max-width: 990px) {
  .card {
    margin: auto;
    width: auto;
    max-width: 400px;
    min-width: 300px;
  }

  .card-img {
    margin: 0px;
  }

  .producttitle {
    color: #c54e46;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }
}