<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12 mb-2">
            <img src="../../assets/Exciting-Careers.jpg" alt="Kubona" class="img-fluid">

            <h2>Work with us</h2>
        </div>
        <hr />
        <p>We're on a mission to create exciting retail experiences for people in Nigeria. At kubona, you have a chance
            to do exciting work and live an exciting live. That's why we empower our people to be creative, contribute
            and be part of an exciting journey. Enjoy a relaxed working environment, competitive benefits and the
            camaraderie of working with a truly exciting group of talented individuals. Join us!</p>
        <!-- <p>Below are the career opportunities available:</p>
        <p style="color: purple;font-size: large;"><strong>Three Months Internship - 40K Stipend</strong></p>
        <p>Do you want to gain valuable Job Experience in a small and growing online retail company? Are you a
            Hard-Working Individual with great people skills? kubona.ng is offering a 3 months internship program
            starting in November 2018 with an opportunity for full-time employment afterwards. The individual must be:

        <ul>
            <li>Computer literate and be able to type fast.</li>
            <li>Social Media Savvy.</li>
            <li>Able to work weekends.</li>
            <li>Available for the next three months to complete the program.</li>
            <li>Have a minimum of a secondary school degree.</li>
            <li>Preferably living in the Lekki-Ajah Axis (We resume at 8.30am daily.)</li>
        </ul>

        <p><b style="color: #ff0000;">To Apply,</b> please send an email with your CV to <b>"Jobs@kubona.ng"</b> with
            the Subject "3 Months Internship" or Visit our <b>14A TF Kuboye, Oniru, Lekki Warehouse</b> (Beside
            Healthplus Pharmacy) on <b>Saturday 17th of November between 1pm - 4pm</b> for an Interview.
        </p> -->

    </div>
</div>