
        <h2 class="mb-2">Exchange or Return Policy</h2>
        <div class="col">
            <ul>
                <li>Customers who purchase an item can exchange the item for the same or different item within 7 days of purchase or receiving delivery. There is no cash refund. Items must be unused in the original packaging with the price tag intact.</li>
                <li>Ensure you are satisfied with the sizing and quality before payment as we do not offer cash refunds after payment for Payment on Delivery transactions.</li>
                <li>We suggest customers check their items on delivery and reject the delivery if there is an issue as the cost of an exchange will be borne by the customer afterwards except for prepaid transactions.</li>
                <li>If payment was prepaid before delivery was initiated, a refund can be processed if the item is no longer available or found to have a defect before or within 3 days of delivery.</li>
                <li>We provide 90 days warranty for defects on all our products. If you have any issue within 90 days of purchase, you may return the product for repairs. Items that cannot be repaired may be exchanged for another item or store credit.</li>
                <li>We reserve the right to refuse items returned if we feel they have not been used fairly.</li>
                <li>Clearance or SALE items cannot be exchanged or processed for refunds. These items are sold as-is.</li>
                <li>For exchanges or returns, customers should return items within the stipulated time frame to our Lagos warehouse. The customer is responsible for the cost of returning an item to our Lagos Warehouse.</li>
                <li>If the wrong item is delivered to you, we will take full responsibility for picking and returning the correct item to you.</li>
                <li>We use third-party logistic partners for Pay-on-Delivery transactions. In most cases we may not receive your payment until two weeks after delivery. Unfortunately until your payment is received from our logistic partners, we cannot process your exchange or return.</li>
                <li>Please note, we do not swap items. We must receive the item with you and ascertain that it is eligible for an exchange before an exchange can be processed.</li>
                <li>For further questions or enquiries, please email customercare@kubona.ng or call 0703-812-6008 or WhatsApp 0703-611-0000.</li>
                <li>Here is a link to a visual guide on how to <a [routerLink]="['/exchangeprocess']">exchange</a></li>
            </ul>
        </div>

